@charset "UTF-8";

/*font-family: 'Raleway', sans-serif;*/
/* Bleu : #0065FC */
/* Bleu clair : #DEEBFF  */
/* Gris fond : #F2F2F2 */

/* Elements principaux de la page*/

body{
  font-family: 'Raleway', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

*{box-sizing: border-box;}
img{
  max-width: 100%;
  height: auto;
}

/* Header */

header{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.logo{
  display: flex;
}

nav{
  display: flex;
  justify-content: flex-end;
}

nav ul{
  list-style-type: none;
  display: flex;
}

nav li{
  margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}
/* Recherche */
.recherche{
  display: flex;
  flex-direction: column;
}

.cherchez{
display: flex;
flex-direction: column;
}

.Filtres{
  display: flex;
  flex-direction: row;
  margin-left: 8px;
}

.icones{
  display: flex;
}

.icones p{
  display: flex;
  text-align: justify;
  margin-left: 35px;
}
/* Hébergement */

/* Activités */

/* Footer */
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.colonne1{

}

.colonne2{

}

.colonne3{

}
