  /*font-family: 'Raleway', sans-serif;*/
/* Bleu : #0065FC */
/* Bleu clair : #DEEBFF  */
/* Gris fond : #F2F2F2 */


/* Elements principaux de la page*/
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body
{
  font-size: 14px;
}

.bloc_page
{
  width: 90%;
  margin: auto;
}


a, a:hover
{
  text-decoration: none;
}



a, a:visited, a:active
{
    color: black;
    text-decoration: none;
}

figure a
{
  text-decoration: none;
  color: black;
  height: auto;
}

ul
{
  list-style-type: none;
}

fieldset
{
  border: none;
}

img
{
  object-fit: cover;
}

h1
{
  font-size: 3rem;
  font-weight: bolder;
}

i
{
  color: #0065FC;
}

.grey
{
  color: #d9d9d9;
}
  /* --Mobile-- */
/* Header */
.navbar
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Logo
{
  height: 0;
  margin: 3.5% 0 20px 5%;
}

.Logo img
{
  width: 260px;
}

.navbar ul
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  margin-top: 20px;
  padding-bottom: 50px;
}

.link1 a, .link3 a
{
  color: #0065FC;
}

.link1
{
  width: 50%;
  text-align: center;
  border-bottom: solid 6px #f2f2f2;
  padding-bottom: 10px;
  font-size: 3em;
  color: #0065fc;
  transition: all 0.5s;
}

.link1:hover
{
  border-bottom: solid 6px #0065fc;
  color: #0065fc;
}

.link2
{
  width: 50%;
  text-align: center;
  border-bottom: solid 6px #f2f2f2;
  padding-bottom: 10px;
  font-size: 3em;
  transition: all 0.5s;
}

.link2:hover
{
  border-bottom: solid 6px #0065fc;
  color: #0065fc;
}

.link2 a
{
  color: #000000;
}

.link3
{
  width: 30%;
  text-align: center;
  padding-bottom: 56px;
  font-size: 3em;
  font-weight: 600;
  transition: all 0.5s;
}

.link3:hover
{
  color: #0065fc;
  background-color: #deebff;
  border-radius: 0 0 17px 17px;
  font-weight: bolder;
}

header hgroup
{
  margin-right: 130px;
  margin-left: 40px;
}

header h2
{
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 60px;
}

  /* Boutton recherche */
.btn-recherche
{
  margin-left: 40px;
  height: 100px;
  display: flex;
}

.pin-icone
{
  background-color: #f2f2f2;
  height: 100%;
  width: 15%;
  border-radius: 30% 0% 0% 30%;
  display: flex;
}

.pin-icone i
{
  margin: auto;
  color: rgb(0, 0, 0);
  font-size:2.7em;
}

form
{
  width: 100%;
  height: 100%;
  display: flex;
}

.btn-recherche-input
{
  height: 100%;
  font-size: 3em;
  font-weight: 600;
  padding-left: 10%;
  border: solid 1px #f2f2f2;
  outline: none;
}

.btn-recherche-input::placeholder
{
  color: black;
}

.btn-recheche-loupe
{
  background-color: #0065fc;
  height: 100%;
  width: 100px;
  border-radius: 30%;
  display: flex;
  position: relative;
  right: 30px;
}

.btn-recheche-loupe i
{
  margin: auto;
  color: #f2f2f2;
  font-size: 1.6em;
}

.search-desktop
{
  display: none;
  padding-top: 15px;
  padding-left: 10px;
}

  /* Filtres recherche */
.filter-container
{
  margin-left: 5%;
}

.filtres-container
{
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
}

.filter-container h3
{
  font-size: 2em;
  font-weight: 600;
  margin-top: 80px;
}

.eco, .famille, .animaux, .romance
{
  width:360px;
  height:82px;
  display: flex;
  margin-bottom: 60px;
}

  .romance
{
  margin-right: 125px;
}

.famille
{
  margin-left: 117px;
}

.animaux
{
  width: 590px;
}

.eco i, .famille i, .animaux i, .romance i
{
  color:#0065fc;
  font-size: 2em;
  background-color: #deebff;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 110px;
  border-radius: 50%;
  margin-left: -5px;
  margin-top:-15px;
  position: absolute;
}

.filtres-container p:hover
{
  background-color: #deebff;
}

.eco p, .famille p, .romance p, .animaux p
{
  border: solid 5px #deebff;
  font-size: 3em;
  font-weight: 600;
  border-radius: 53px;
  padding-left: 130px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-self: center;
}

.animaux p
{
  padding-bottom: 76px;
  align-self: auto;
}

.animaux i
{
  margin-top: 1px;
}

  .filter-item
  {
       display: flex;
       margin: 10px;
       position: relative;
       top: 25px;
  }

  .filter-icone
  {
       background-color: #deebff;
       height: 110px;
       width: 110px;
       border-radius: 50%;
       margin-left: -5px;
       display: flex;
       position: absolute;
  }

  .filter-icone i
  {
       color: #0065fc;
       margin: auto;
  }

  .filter-icone i
  {
  margin: auto;
  }

  .info-container
  {
    display: flex;
    margin-top: 20px;
    margin-bottom: 70px;
  }

  .icone-info
  {
       display: flex;
       height: 55px;
       width: 65px;
       border: solid 4px #deebff;
       border-radius: 50%;
       margin-right: 20px;
       margin-left: 40px;
  }

  .icone-info i
  {
       margin: auto;
       font-size: 1.8em;
       color: #0065fc;
  }

  .info-container p
  {
    font-size: 2.8em;
    font-weight: 500;
  }
  /* Hébergement */
.populaires
{
  background-color: #F2F2F2;
  padding-top: 80px;
  padding-bottom: 75px;
  margin-bottom: 80px;
}

.populaires header
{
  display: flex;
  justify-content: space-between;
}

.populaires h1
{
  margin-left: 45px;
  margin-bottom: 30px;
  font-weight: 800;
}

.populaires header i
{
  font-size: 3.5em;
  color: black;
  margin-right: 45px;
}

.populaires figure
{
  background-color: #FFFFFF;
  border: 2px #FFFFFF solid;
  border-radius: 37px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  height: 375px;
}

.populaires img
{
  border: 10px #FFFFFF solid;
  border-radius: 37px 0 0 37px;
  object-fit: cover;
  width:330px;
}

.populaires figcaption
{
  margin-left: 30px;
  margin-right: 70px;
  margin-top: 40px;
}

.populaires h2
{
  font-size: 2.5em;
  font-weight: 800;
}
.populaires h3
{
  margin-top: 20px;
  margin-bottom: 130px;
  font-size: 2.2em;
  font-weight: 500;
}
.populaires ul
{
  font-size: 2em;
}

.populaires li, .marseille li
{
display:inline;
}

.marseille header
{
  margin-top: 45px;
  margin-bottom: 10px;
}

.marseille h1
{
  margin-left: 30px;
  margin-bottom: 30px;
}

.marseille figure
{
  background-color: #FFFFFF;
  border: 2px #FFFFFF solid;
  border-radius: 37px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: -5px 7px 50px 7px #F2F2F2;
}

.marseille img
{
  border: 10px #FFFFFF solid;
  border-radius: 37px 37px 0 0;
  object-fit: cover;
  height: 298px;
}

.marseille h2
{
  font-size: 2.5em;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.marseille h3
{
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 2.2em;
  font-weight: 500;
}

.marseille ul
{
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 2em;
}

.marseille p
{
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 20px;
}
  /* Activités */
#activites h1
{
  margin-left: 20px;
}

#activites figure
{
  background-color: #FFFFFF;
  border-radius: 37px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  box-shadow: -2px 10px 30px 10px #F2F2F2;
}

#activites img
{
  border-radius: 37px 37px 0 0;
  height: 300px;
}

#activites figcaption
{
  padding-bottom: 40px;
}

#activites h2
{
  font-size: 3em;
  margin-top: 40px;
  margin-left: 20px;
}

  /* Footer */
footer
{
  background-color: #F2F2F2;
}

.colonne1, .colonne2, .colonne3
{
  margin-bottom: 70px;
  padding-left: 50px;
}

.colonne1
{
  padding-top: 80px;
}

.colonne3
{
  padding-bottom: 80px;
}

footer li
{
  margin-top: 20px;
  margin-bottom: 20px;
}

footer h2
{
  margin-bottom: 30px;
}

  /* --tablette-- */
@media screen and (min-width:768px) and (max-width:991px)
{
  /* Header */

  /* Recherche */


  /* Hébergement */

  /* Activités */

  /* Footer */
}



  /* --desktop-- */
@media only screen and (min-width:992px)
{
  img
  {
    width: 100%;
  }
  /* Header */
  header hgroup
  {
    margin-left: 1%;
  }
  header h1
  {
    font-size: 1.3em;
    font-weight: 800;
  }
  header h2
  {
    margin-top: 5px;
    margin-bottom: 2%;
  }
  .navbar
  {
    height: 50px;
    margin-bottom: 35px;
  }
  .navbar ul
  {
    width: 50%;
  }
  .navbar li
  {
    width: 20%;
    font-size: 1em;
  }
  .navbar .link1, .link2, .link3
  {
    padding-top: 50px;
    border-bottom: none;
    padding-bottom: 0;
  }
  .link1:hover, .link2:hover, .link3:hover
  {
    border-top: solid 3px #0065fc;
    color: #0065fc;
    border-bottom: none;
  }
  .Logo
  {
    margin-left: 1%;
  }
  .Logo img
  {
    width:100px;
  }
  /* Boutton Recherche */
  .btn-recherche
  {
    height: 45px;
    margin-left: 1%;
  }
  .pin-icone
  {
    width: 4%;
  }

  .btn-recherche-input
  {
    width: 280px;
    font-size: 1.3em;
    padding-left: 2%;
  }
  .btn-recheche-loupe
  {
    border-radius: 0px 15px 15px 0px;
    border: none;
  }

  .fas.fa-search
  {
    display: none;
  }
  .search-desktop
  {
    display: initial;
    font-size: 1em;
    font-weight: 600;
    color: white;
  }
  .pin-icone i
  {
    font-size: 1.5em;
  }
  /* Filtres reserche */
  .filter-container
  {
    display: flex;
    margin-top: 60px;
    margin-left: 1%;
  }
  .filter-container h3
  {
    font-size: 1.5em;
    margin-top: -10px;
  }
  .filtres-container
  {
  flex-wrap: nowrap;
  padding-top: 0;
  }
  .eco, .famille, .romance, .animaux
  {
    height: 0;
  }
  .eco, .romance
  {
    margin-left: 15px;
    width: 150px;
    margin-right: 0px;
  }
  .famille
  {
    width: 120px;
    margin-left: 15px;
  }
  .animaux
  {
    margin-left: 15px;
    width: 354px;
  }
  .eco p, .famille p, .romance p, .animaux p
  {
    font-size: 1em;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 3px #deebff;
  }
  .animaux p
  {
    align-self: center;
  }
  .eco i, .famille i, .romance i, .animaux i
  {
    height:42px;
    width: 42px;
    line-height: 16px;
    font-size: 1em;
    padding: 13px;
    margin-left: 0;
    margin-top: -20px;
  }
  .info-container
  {
    margin-top: 0;
    margin-left: -2%;
  }
  .info-container p
  {
    font-size: 1em;
  }
  .icone-info
  {
    height: 30px;
    width: 30px;
    border: solid 2px #deebff;
    margin-top: -6px;
  }
  .icone-info i
  {
    font-size: 1em;
  }
  /* Hébergement */
  #hebergement
  {
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
  }
  .populaires
  {
    height: 615px;
    border-radius: 20px;
    padding-top: 45px;
    margin-left: 30px;
  }
  .populaires h1
  {
    margin-bottom: 20px;
  }
  .populaires header i
  {
    font-size: 1.5em;
  }
  .populaires figure
  {
    height: 145px;
    width: 289px;
    margin-left: 7%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
  }
  .populaires img
  {
    border: 2px #FFFFFF solid;
    width: 130px;
    height: 140px;
    border-radius: 15px 0 0 15px;
  }
  .populaires figcaption
  {
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
  }
  .populaires h3
  {
    margin-bottom: 0px;
    margin-top: 5%;
  }
  .populaires h2, .populaires h3
  {
    font-size: 0.9em;
  }
  .populaires .note
  {
    font-size: 0.9em;
  }
  .populaires ul
  {
    margin-top: 40%;
  }
  .marseille
  {
    height: 615px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  .marseille-desktop
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  .marseille-hotel-desktop
  {
    height: 208px;
    width: 30%;
    margin-left: 1%;;
    margin-right: 1%;;
    margin-bottom: 2%;
  }
  .marseille-hotel-desktop figure
  {
    border: none;
    border-radius: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-shadow: none;
  }
  .marseille img
  {
    width: 100%;
    height: 125px;
    margin-bottom: 3px;
    border: 3px #FFFFFF solid;
    border-radius: 15px 15px 0 0;
  }
  .marseille h2, .marseille h3, .marseille ul
  {
    font-size: 0.9em;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  .marseille .note
  {
    margin-top: 3%%;
  }
  .marseille p
  {
    font-size: 1em;
    font-weight: 800;
    margin-top: 10px;
    margin-left: 35px;
  }
  /* Activités */

  #activites img
  {
    border-radius: 15px 15px 0 0;
  }
  #activites figure
  {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 15px;
    box-shadow: 1px 3px 15px 1px #F2F2F2;
  }
  .activites-desktop
  {
    display: flex;
    margin-top: 20px;
  }
  .activites-desktop .vertical img
  {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .activites-desktop .vertical
  {
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 12px #d9d9d9;
    border-radius: 20px;
  }
  .activites-desktop .horizontal
  {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  #activites .vertical img
  {
    height:400px;
  }
  #activites .horizontal .fort
  {
    height: 180px;
  }
  #activites .horizontal .frioul
  {
    height: 120px;
  }
  {
    height: 300px;
  }
  #activites .horizontal img
  {
    height: 150px;
  }
  #activites figcaption
  {
    padding-bottom: 20px;
  }
  #activites h2
  {
    font-size: 1em;
    margin-top: 20px;
  }
  /* Footer */
  footer
  {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 335px;
    margin-left: -5%;
    margin-right: -5%;
  }
  .colonne1, .colonne2, .colonne3
  {
    padding-top: 40px;
  }
}
